<div class="container">
    <div class="jumbotron">
        <h1>Your Burger</h1>
        <p>Select a Burger</p>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order a new burger</label>
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="hamburger">Hamburger</option>
                    </select>

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order The Burger</strong>
                </div>
            </div>

            <div class="panelbody">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <span>{{this.id}} - {{this.burger_name}}</span>
                    <button type="button" class="eatburger btn btn-warning" id="eatBtn" data-id="{{this.id}}"></button>
                    <hr>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside">
                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#if devoured}}
                            <span>{{this.id}}-{{this.burger_name}}</span>
                            <hr>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>