<div class="container backdrop py-5">
    <div class="jumbotron py-5">
        <h1 class="text-center">Eat The Burger!</h1>
        <p>Select a Burger</p>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label type="text" for="burger" name="burger">Order a new burger</label>
                    <input type="text" data-placeholder="" id="burger" name="burger">
                    <button type="submit" class="btn btn-success" id="addburger">
                        <span> Order this Burger</span>
                    </button>
                </div>
            </form>
        </panel>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="leftside"><strong>Eat This Burger</strong>
                    </div>
                </div>
                {{!-- RIGHT PANEL (burgers to eat) --}}
                <div class="panelbody py-3">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span>{{this.id}} - {{this.burger_name}}</span>
                        <button type="button" class="eatburger btn btn-primary" data-id={{this.id}}>EAT
                            ME!!!</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{!-- Left Panel (Burgers That have been eaten) --}}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="rightside">
                        <div class="panel-heading" id="leftside"><strong>Burgers you've Eaten!</strong>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {{#each burgers}}
                                {{#if devoured}}
                                <span>
                                    {{this.id}} - {{this.burger_name}}
                                </span>
                                    <button type= "button" class= "deleteBtn btn btn-danger" data-id={{this.id}}>Throw out the trash.</button>
                                <hr>
                                {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{!-- {{this.id}} - {{this.burger_name}} --}}
        </div>
    </div>
</div>